*{
    margin: 0;
    padding: 0;
}
/* body{
    background-color: black;
    color:white;
} */
.left{
    width: 25vw;
}
.right{
    width: 75vw;
    margin: 5px 0px;
}
.home ul li{
    display: flex;
    width:20px;
    gap: 10px;
    list-style: none;
    padding-top:14px;
    font-weight: bold;
}
.heading{
    display: flex;
    width:100%;
    gap: 10px;
    padding-top:14px;
    padding: 10px 3px;
    align-items: center;
}
.heading img{
    width:20px;
}
.heading h2{
    font-size:medium;
}

.invert{
    filter: invert(1);
}
.library{
    min-height: 80vh;
    position: relative;
}
.footer{
    display: flex;
    font-size: 10px;
    gap: 10px;
    position: absolute;
    bottom: 0px;
}
.footer a{
    color: gray;
}
.header{
    display: flex;
    justify-content:space-between;
    background-color: rgb(34,34,34);
    border-radius: 7px;
}
.header > *{
    padding: 20px;
}

.spotifyPlaylist{
    padding: 16px;
}
.spotifyPlaylist .card{
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    border-color: #252525;
}
.card > *{
    padding-top: 10px;
}
.card img{
    width: 100%;
    object-fit: contain;
}