.flex{
    display: flex;
}
.justify-content{
    justify-content: center;
}
.item-center{
    align-items: center;
}
.bg-black{
    background-color: black;
    color: white;
}
.invert{
    color: white;
}
.bg-gray{
    background-color: rgb(52, 50, 50);
}
.rounded{
    border-radius: 7px;
}
.m-1{
    margin: 5px;
}
.p1{
    padding: 10px;
}
.border{
    border: 2px solid black;
}